<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #FFFFFF;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .login-container {
            background-color: #FF5F05;
            padding: 50px;
            border-radius: 10px;
        }
        .login-container h2 {
            text-align: center;
            margin-bottom: 30px;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        input[type="submit"] {
            padding: 10px;
            background-color: #13294B;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-bottom: 10px;
        }
        input[type="submit"]:hover {
            background-color: #1D58A7;
        }
    </style>
</head>
<body>
    <div class="login-container">
    <h2>Welcome to Youtube Trending Database</h2>
    <form action="/wish_to_login" method="post">
        <input type="submit" value="Login">
    </form>
    <form action="/wish_to_register" method="post">
        <input type="submit" value="Register">
    </form>
    </div>
</body>
</html>
