<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #FFFFFF;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .fail-container {
            background-color: #FF5F05;
            padding: 50px;
            border-radius: 5px;
        }
        .fail-container h2 {
            text-align: center;
            margin-bottom: 20px;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        input[type="submit"] {
            padding: 10px;
            background-color: #13294B;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #1D58A7;
        }
    </style>
</head>
<body>

    <div class="fail-container">
        <h2>Login Failed</h2>
        <h3>Incorrect Password or Repetitive Username</h3>
        <form action="/login_back" method="post">
            <input type="submit" value="Go Back">
        </form>
    </div>

</body>
</html>
