<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Modify Favorites</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #FFFFFF;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50vh;
        }
        .overall-container {
            background-color: #FF5F05;
            padding: 50px;
            border-radius: 10px;
        form {
            display: flex;
            flex-direction: column;
        }
        input[type="text"] {
            padding: 10px;
        }
        input[type="submit"] {
            padding: 10px;
            background-color: #13294B;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #1D58A7;
        }
    </style>
</head>
<body>

    <div class="overall-container">
        <h2>Add Favorite Videos</h2>
        <form action="/addfavorite" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="text" name="video_id" placeholder="Video_id" required>
            <input type="submit" value="Add To Favorites">
        </form>
        <form action="/deletefavorite" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="text" name="videoid" placeholder="Video_id" required>
            <input type="submit" value="Delete From Favorites">
        </form>
    </div>

</body>
</html>
